html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}
    article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS reset with font-family stack*/

html,
body{
    height:100%;
  }
  
body{
   display:flex;
   }
@media screen and (width<1150px){
  body{ 
    flex-direction:column;}
    }

@font-face{ 
     font-family: crime-font;
     src: url(images-icons-fonts/SpecialElite-Regular.ttf);}

     .sec-one{
       background: url(images-icons-fonts/money-bribe.jpg);
       background-size: cover;
       background-repeat:no-repeat;
       display:flex;
       flex-direction:column;
       height:100%;
       width:clamp(600px, 40%, 40%);
       font-size:4rem;
       }
       @media screen and (width<1150px){
        .sec-one{
          height:40%;
          width:100%;
          }}
      .sec-two{
      height:100%;
      width:clamp(900px, 60%, 60%);
      font-family: crime-font, 'Courier New', Courier, monospace;
    display:flex;
    flex-direction:column;
      }
      @media screen and (width<1150px){
      .sec-two{
        height:60%;
        width:100%;
      }}
       .sec-one>div{
        position:relative;
        width:100%;
        height:150px;
        top:15%;
        font-family: crime-font, 'Courier New', Courier, monospace;
        background:rgba(0, 0, 0, 0.306);
        color:white;
        text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
        }
        .sec-one>div p:only-child{
          position:relative;
          font-size:4rem;
          text-align:center;
          top:25%;
          max-height:90px;
          white-space:nowrap;
         }
      .sec-one>div p:only-child::before{
      background:url(images-icons-fonts/fraud.png) no-repeat;
      display:inline-block;
      position:relative;
      content:"";
      width:70px;
      height:65px;
      background-size:90% 100%;
      top:10px;
     }
     .sec-two>p{
    text-align:center;
    font-size:clamp(1.2rem, 3vw, 2rem);
    line-height:clamp(1.5rem, 3vw, 3rem);
    
  }
  .sec-two>button{
    height:50px;
    width:250px;
    rotate:20deg;
    margin-top:30px;
    margin-left:30px;
    font-family: crime-font, 'Courier New', Courier, monospace;
    font-size:1rem;
    background-color: white;
    border:solid, black, 2px;
    }
   .sec-two>h6{
    font-size:1.4rem;
    margin-top:35px;
    margin-left:30px;
    }

.form-container{
  height:auto;
  width:100%;
  background-color:black;
  color:white;
  font-family:'Courier New', Courier, monospace, 'Times New Roman', Times, serif;
  font-size:clamp(1rem, 3vw, 2rem);
  line-height:clamp(1.5rem, 3vw, 3rem);
  }
ul, legend{
 margin-left:20px;
 }
legend{
  white-space:nowrap;
  font-family: crime-font, 'Courier New', Courier, monospace;
  }
  @media screen and (width<1150px){
    legend{
      text-align:center;
    }
  }
li{
   display:inline-block;
   width:45%;
   margin-bottom:5px;
}
@media screen and (width<1150px){
    li{
      text-align:center;
      display:block;
      width:100%;}
  }
 input{
  width:80%;
  height:25px;
  border:solid grey 5px;
  font-size:1.5rem;
  
}
input:focus{
  border: dashed grey  5px;
}
 @media screen and (width<1150px){
 input{
  width:50%;
 }}
 input[type='password']{
 font-size:1rem;
}





  

  


  

  
 
  



   
  

  
        
    
      
     
     


 
